@page
@model TicTacToe.Pages.CheckersModel
@{
    ViewData["Title"] = "Checkers";
}

<h2>Checkers</h2>

<div id="board">
    @for(int y = 0; y < 8; y++)
    {
        @for(int x = 0; x < 8; x++)
        {
            <div class="square @((x+y) % 2 == 0 ? "black": "red")" data-x="@x" data-y="@y">
                @if(@Model.Game.Board[x,y] != null)
                {
                    <div class="checker @Model.Game.Board[x,y].Color">
                        <div class="checker @Model.Game.Board[x,y].Color" draggable="true"></div>
                    </div>
                }
            </div>
        }
    }
</div>

<form>
    <input type="text" name="checkerX" />
    <input type="text" name="checkerY" />
    <input type="text" name="SquareX" />
    <input type="text" name="SquareY" />
    <textarea name="state">
        
    </textarea>
    <input type="submit" value="Make a move" />
</form>
